header, .hero, .body, .bar, footer{
	background-color: #ddd;
	margin-bottom: 10px;
}
.box{
	font-size: 30px;
	color: white;
	text-align: center;
	margin-bottom: 5px;
	min-height: 50px;
	background-color: red;

}
.grey{
	background-color: grey;
}